.title {
  font-family: roboto;
  }
body {
 margin: 0;
}
.wrapper {
 margin: auto;
 width: 80%;
}
 .logo{
   /* font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;*/
   width: 190px;
   height: 35px;
   background: url('img/logo.svg');
 }
.header {
 padding: 40px 0;
 display: flex;
 justify-content: space-between;
}
.menu {
 display: flex;
 align-items: center;
}
.menu__item {
 position: relative;
 margin-right: 26px;
 font: 500 18px/21px Roboto, arial, helvetica, sants-serif;
 color: #000
 text-decoration: none;
 transition: opacity .5s;
}
.menu__item:last-child {
 margin-right: 0;
}
head {
  font-family: 'pt_serifbold';
    src: url('ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.menu__item_active::after {
  position: absolute;
   display: block;
   content: "";
    left: 0;
   width: 100%;
   height: 3px;
   background: #0056EC;
   opacity: 0;
   transition: opacity .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
