.title {
  font-family: roboto;
  }
  body {
 border: dashed 1px red;
 }
 .menu__item {
 border: dashed 1px red;
}
.header, .main-section {
 border: dashed 1px red;
}
body {
 margin: 0;
 border: dashed 1px red;
}
.header {
 border: dashed 1px red;
}
.wrapper {
 margin: auto;
 width: 80%;
 border: dashed 1px red;
}
.logo {
 padding: 40px 0;
 border: dashed 1px red;
}
.header {
 display: flex;
 justify-content: space-between;
}
.menu {
 display: flex;
 align-items: center;
}
.menu__item {
 padding: 0 13px;
 border: dashed 1px red;
}
.menu__item:last-child {
 padding-right: 0;
}
